<%- include('partials/header')%>

<link href="css/cervejas.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

    <section class="venda">
        <div class="line-titulo">
                <div class="ln1"></div>
                <h2>Cervejas</h2>
        </div><!--line-titulo-->

        <aside class="sideCart">
            <span onclick="closeCart()" class="close" title="">&times;</span>
            <p>Carrinho</p>
        </aside>
    
        <div class="content-venda">
            <div class="container">
            <div class="sidebar searchArea">
                    <div class="search1">
                        <h2>Filtre por preço</h2>
                        <div class="barra-preco">
                            <div class="barra-preco-fill"></div><!--barra-preco-fill-->
                            <div class="pointer-barra"></div>
                        </div><!--barra-preco-->
                        <div class="valor-pesquisa">
                            <p>R$0,00</p>
                            <p>R$70.000,00</p>
                        </div><!--valor-pesquisa-->
                    </div><!--search1-->
    
                    <div class="search2">
                        <h2>Filtre por tipo</h2>
                        <form>
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item1" />
                            <label for="item1">
                                <div class="circle"></div>
                            </label><!--item-->
                            <span>Todos os tipos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item2" />
                            <label for="item2">
                                <div class="circle"></div>
                            </label>
                            <span>IPA</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item3" />
                            <label for="item3">
                                <div class="circle"></div>
                            </label>
                            <span>Pilsen</span>
                        </div><!--form-venda-wraper-->
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item4" />
                            <label for="item4">
                                <div class="circle"></div>
                            </label>
                            <span>Trigo</span>
                        </div><!--form-venda-wraper-->
                        </form>
                    </div><!--search2-->
            </div><!--sidebar-->
    
            <div class="vitrine-venda contentArea">
    
            <% cervejas.forEach(function(cerveja){ %>
            <div class="vitrine-destaque">
            <img src="<%= cerveja.imagem %>" class="cerveja-img" alt="<%= cerveja.productName %>">
            <div class="info-produto">
                <h2><%= cerveja.productName %></h2>
                <p>Fabricante: <%= cerveja.fabricante %></p>
                <p>Tipo: <%= cerveja.tipoCerveja.kindName %></p>
                <span class="preco">R$ <%= cerveja.price %></span>
                <div class="btnContainer">
                <span 
                    class="addToCart" 
                    onclick="addingToCart({
                        id: '<%= cerveja.id %>',
                        name: '<%= cerveja.productName %>',
                        img: '<%= cerveja.imagem %>',
                        fabricante: '<%= cerveja.fabricante %>',
                        tipo: '<%= cerveja.tipoCerveja.kindName %>',
                        price: '<%= cerveja.price %>'
                    })">
                    Adicionar
                </span>
                <!--<span class="addToCart" onclick="addingToCart('<%= cerveja %>')">Adicionar</span>-->
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
        <% }) %>
    
    
            </div><!--vitrine-venda-->
            </div><!--container-->
        </div><!--content-venda-->
    
    </section><!--venda-->
    <script>

        const cartItems = [];
        const cartAddButton = document.querySelectorAll('.addToCart');

        /* function openCart() {
            document.querySelector('.content-venda').style.width = '70%';
            document.querySelector('.sideCart').style.display = 'block';
        } */

        // Add to cart
        function addingToCart(cerveja) {
            return cartItems.push(cerveja);

        }

        const cartDetails = document.createElement('div');
        cartDetails.className = 'cart--details';
        const cartTotal = document.createElement('div');
        cartTotal.className = 'cart--totalitem total big';
        const totalText = document.createElement('span');
        totalText.innerHTML = 'Total';
        const totalDin = document.createElement('span');
        totalDin.innerHTML = '';
        const finCompra = document.createElement('div');
        finCompra.className = 'cart--finalizar';
        finCompra.innerHTML = 'Finalizar Compra';
        cartTotal.appendChild(totalText);
        cartTotal.appendChild(totalDin);
        cartDetails.appendChild(cartTotal);
        cartDetails.appendChild(finCompra);
        console.log(cartDetails);
        let total = 0;
        let modalQt = 1;
        
        // Cart Display and update
        function updateCart() {
            document.querySelector('.content-venda').style.width = '70%';
            document.querySelector('.sideCart').style.display = 'block';

            // Criar elementos HTML do carrinho
                const cart = document.querySelector('.sideCart');
                const cartItem = document.createElement('div');
                cartItem.className = 'cart--item';
                const cartImg = document.createElement('img');
                cartImg.className = 'cart--item--img';
                const cartName = document.createElement('div');
                cartName.className = 'cart--item-nome';
                const cartQtArea = document.createElement('div');
                cartQtArea.className = 'cart--item--qtarea';
                const buttonQtMenos = document.createElement('button');
                buttonQtMenos.className = 'cart--item-qtmenos';
                buttonQtMenos.innerHTML = '-' ;
                const cartItemQt = document.createElement('div');
                cartItemQt.className = 'cart--item--qt';
                cartItemQt.innerHTML = '';
                const buttonQtMais = document.createElement('button');
                buttonQtMais.className = 'cart--item-qtmais';
                buttonQtMais.innerHTML = '+';

            cartItems.map((item) => {
                    console.log(item);
                    cartImg.src = item.img;
                    cartImg.alt = item.name;
                    cartName.innerHTML = item.name;
                    cartItemQt.innerHTML = modalQt;
                    item.qt = modalQt;

                    buttonQtMenos.addEventListener('click', () => {
                        buttonQtMenos.addEventListener('click', () => {
                        if (item.qt > 1) {
                            item.qt--;
                            cartItemQt.innerHTML = item.qt;
                        }
                    });

                    buttonQtMais.addEventListener('click', () => {
                        item.qt++;
                        cartItemQt.innerHTML = item.qt
                    });
                    });

                    total += item.price * item.qt;
                    totalDin.innerHTML = `R$ ${total}`;

            });
            
            // Append child para adicionar elementos ao carrinho
                cart.appendChild(cartItem);
                cart.appendChild(cartDetails);
                cartItem.appendChild(cartImg);
                cartItem.appendChild(cartName);
                cartQtArea.appendChild(buttonQtMenos);
                cartQtArea.appendChild(cartItemQt);
                cartQtArea.appendChild(buttonQtMais);
                cartItem.appendChild(cartQtArea);

            console.log(cart);
            console.log(cartItems);

        };
        
        // Close cart
        function closeCart() {
            document.querySelector('.content-venda').style.width = '100%';
            document.querySelector('.sideCart').style.display = 'none';
        }

        // Add Button Open cart
        cartAddButton.forEach((item) => {
            item.addEventListener('click', updateCart);
        });

    </script>

    
<%- include('partials/footer')%>
