<%- include('partials/header')%>

<link href="stylesheets/cervejas.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

    <section class="venda">
        <div class="line-titulo">
                <div class="ln1"></div>
                <h2>Cervejas</h2>
        </div><!--line-titulo-->

        <aside class="sideCart">
            <span onclick="closeCart()" class="close" title="">&times;</span>
            <p>Carrinho</p>
            <div class="cart--item">
                <img src="images/antuerpia.webp" alt="antuerpia" />
                <div class="cart--item-nome">Antuerpia</div>
                <div class="cart--item--qtarea">
                    <button class="cart--item-qtmenos">-</button>
                    <div class="cart--item--qt">1</div>
                    <button class="cart--item-qtmais">+</button>
                </div>
            </div>
        </aside>

        <!--<aside>
            <div class="cart--area">
                <div class="menu-closer">❌</div>
                <h1>Suas Pizzas</h1>
                <div class="cart"></div>
                <div class="cart--details">
                    <div class="cart--totalitem subtotal">
                        <span>Subtotal</span>
                        <span>R$ --</span>
                    </div>
                    <div class="cart--totalitem desconto">
                        <span>Desconto (-10%)</span>
                        <span>R$ --</span>
                    </div>
                    <div class="cart--totalitem total big">
                        <span>Total</span>
                        <span>R$ --</span>
                    </div>
                    <div class="cart--finalizar">Finalizar a compra</div>
                </div>
            </div>
        </aside>-->
    
        <div class="content-venda">
            <div class="container">
            <div class="sidebar searchArea">
                    <div class="search1">
                        <h2>Filtre por preço</h2>
                        <div class="barra-preco">
                            <div class="barra-preco-fill"></div><!--barra-preco-fill-->
                            <div class="pointer-barra"></div>
                        </div><!--barra-preco-->
                        <div class="valor-pesquisa">
                            <p>R$0,00</p>
                            <p>R$70.000,00</p>
                        </div><!--valor-pesquisa-->
                    </div><!--search1-->
    
                    <div class="search2">
                        <h2>Filtre por tipo</h2>
                        <form>
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item1" />
                            <label for="item1">
                                <div class="circle"></div>
                            </label><!--item-->
                            <span>Todos os tipos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item2" />
                            <label for="item2">
                                <div class="circle"></div>
                            </label>
                            <span>IPA</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item3" />
                            <label for="item3">
                                <div class="circle"></div>
                            </label>
                            <span>Pilsen</span>
                        </div><!--form-venda-wraper-->
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item4" />
                            <label for="item4">
                                <div class="circle"></div>
                            </label>
                            <span>Trigo</span>
                        </div><!--form-venda-wraper-->
                        </form>
                    </div><!--search2-->
            </div><!--sidebar-->
    
            <div class="vitrine-venda contentArea">
    
            <% for (let cerveja of cervejas) { %>
            <div class="vitrine-destaque">
            <img src="<%= cerveja.img %>" class="cerveja-img" alt="<%= cerveja.name %>">
            <div class="info-produto">
                <h2><%= cerveja.name %></h2>
                <p>Fabricante: <%= cerveja.fabricante %></p>
                <p>Tipo: <%= cerveja.tipo %></p>
                <span class="preco">R$ <%= cerveja.price %></span>
                <div class="btnContainer">
                <span class="addToCart" onclick="addingToCart('<%= cerveja %>')">Adicionar</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
        <% } %>
    
    
            </div><!--vitrine-venda-->
            </div><!--container-->
        </div><!--content-venda-->
    
    </section><!--venda-->
    <script>

        const cartItems = [];
        const cartAddButton = document.querySelectorAll('.addToCart');

        function openCart() {
            document.querySelector('.content-venda').style.width = '70%';
            document.querySelector('.sideCart').style.display = 'block';
        }

        function closeCart() {
            document.querySelector('.content-venda').style.width = '100%';
            document.querySelector('.sideCart').style.display = 'none';
        }

        function addingToCart(cerveja) {
            return cartItems.push({
                id: this.id,
                name: this.name,
                img: this.img,
                fabricante: this.fabricante,
                tipo: this.tipo,
                price: this.price
            });
        }

        /* function closeModal() {
            c('.pizzaWindowArea').style.opacity = 0;
            setTimeout(()=>{
            c('.pizzaWindowArea').style.display = 'none';
        }, 500); */
    </script>

    
<%- include('partials/footer')%>
