<%- include('partials/header')%>
<script defer src="/js/cartFront.js"></script>
<link href="css/cervejas.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

    <section class="venda">
        <div class="line-titulo">
                <div class="ln1"></div>
                <h2>Kits</h2>
        </div><!--line-titulo-->

        <aside class="sideCart">
        </aside>
    
        <div class="content-venda">
            <div class="container">
            <div class="sidebar searchArea">
                    <div class="search1">
                        <h2>Filtre por preço</h2>
                        <div class="barra-preco">
                            <div class="barra-preco-fill"></div><!--barra-preco-fill-->
                            <div class="pointer-barra"></div>
                        </div><!--barra-preco-->
                        <div class="valor-pesquisa">
                            <p>R$0,00</p>
                            <p>R$5.000,00</p>
                        </div><!--valor-pesquisa-->
                    </div><!--search1-->
    
                    <div class="search2">
                        <h2>Filtre por tipo</h2>
                        <form>
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item1" />
                            <label for="item1">
                                <div class="circle"></div>
                            </label><!--item-->
                            <span>Todos os tipos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item2" />
                            <label for="item2">
                                <div class="circle"></div>
                            </label>
                            <span>IPA</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item3" />
                            <label for="item3">
                                <div class="circle"></div>
                            </label>
                            <span>Pilsen</span>
                        </div><!--form-venda-wraper-->
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item4" />
                            <label for="item4">
                                <div class="circle"></div>
                            </label>
                            <span>Trigo</span>
                        </div><!--form-venda-wraper-->
                        </form>
                    </div><!--search2-->
            </div><!--sidebar-->
    
            <div class="vitrine-venda contentArea">
    
            <% cervejas.forEach(function(cerveja){ %>
            <div class="vitrine-destaque">
            <img src="<%= cerveja.imagem %>" class="cerveja-img" alt="<%= cerveja.productName %>">
            <div class="info-produto">
                <h2><%= cerveja.productName %></h2> 
                <span class="preco">R$ <%= cerveja.price %></span>
                <div class="btnContainer">
                <span 
                    class="addToCart"
                    onclick="addingToCart({
                        productCode: '<%= cerveja.productCode %>',
                        name: '<%= cerveja.productName %>',
                        img: '<%= cerveja.imagem %>',
                        tipo: '<%= cerveja.tipoCerveja.kindName %>',
                        price: '<%= cerveja.price %>'
                    })">
                    Adicionar
                </span>
                <!--<span class="addToCart" onclick="addingToCart('<%= cerveja %>')">Adicionar</span>-->
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
        <% }) %>
    
    
            </div><!--vitrine-venda-->
            </div><!--container-->
        </div><!--content-venda-->
    
    </section><!--venda-->
    
<%- include('partials/footer')%>
